{% trans_default_domain "front" %}
{% if tournament is defined and is_granted("EDIT", tournament) %}
    organizerPopoverHtml = '' +
    '<div class="organizerMenuPopoverBox">' +
    '<a class="organizerMenuPopoverIcon notReplaceLink" href="{{ path('tournament_index', {'tournamentUrl': tournament.url}) }}">' +
        '   <span class="fa fa-desktop fa-3x"></span><span class="organizerMenuPopoverTxt">{{ 'header.js.website'|trans }}</span>' +
        '</a>' +
    '<a class="organizerMenuPopoverIcon notReplaceLink" href="{{ path('settings_index', {'tournamentUrl': tournament.url}) }}">' +
        '   <span class="fa fa-wrench fa-3x"></span><span class="organizerMenuPopoverTxt">{{ 'header.js.settings'|trans }}</span>' +
        '</a>' +

    '<a class="organizerMenuPopoverIcon notReplaceLink" href="https://www.tourniadashboard.nl/tournament.php?{{ tournament.url }}" target="_blank">' +
        '   <span class="fa fa-dashboard fa-3x"></span><span class="organizerMenuPopoverTxt">{{ 'header.js.dashboard'|trans }}</span>' +
        '</a>' +

    '<a class="organizerMenuPopoverIcon notReplaceLink" href="{{ path('live_index', {'tournamentUrl': tournament.url}) }}">' +
        '   <span class="fa fa-play-circle-o fa-3x"></span><span class="organizerMenuPopoverTxt">{{ 'header.js.live'|trans }}</span>' +
        '</a>' +
    '<a class="organizerMenuPopoverIcon notReplaceLink" href="{{ path('ts_live_presentationscreen', {'tournamentUrl': tournament.url}) }}" target="_blank">' +
        '   <span class="fa fa-youtube-play fa-3x"></span><span class="organizerMenuPopoverTxt">{{ 'header.js.screen'|trans }}</span>' +
        '</a>' +
    '<a class="organizerMenuPopoverIcon notReplaceLink" href="{{ path('control_index', {'tournamentUrl': tournament.url}) }}">' +
        '   <span class="fa fa-gears fa-3x"></span><span class="organizerMenuPopoverTxt">{{ 'header.js.control'|trans }}</span>' +
        '</a>' +

    '</div>';

    $('#organizerMenuPopover').popover({
        title: '{{ 'header.js.modules'|trans }}',
        content: organizerPopoverHtml,
        html: true,
        placement: 'bottom',
        trigger: 'click',
        container: 'body',
    });

    $('#organizerMenuPopover').on('blur', function() {
        $(this).popover('hide');
    });
{% endif %}