{% trans_default_domain "control" %}
{% form_theme form 'TSControlBundle::form.html.twig' %}

{% extends "TSControlBundle::base.html.twig" %}

{% set new = boughtProduct.id is null %}


{% if new %}
	{% set title = "editPayment.new.title"|trans %}
{% else %}
	{% set title = "editPayment.new.edit"|trans %}
{% endif %}

{% block css %}
	{# {{ form.date.vars.id }} {
		height: 60px;
	}#}
{% endblock %}

{% block content %}
<div class="well">
<form class="form-horizontal" action="{% if new %}{{ path('control_payment_create', {'tournamentUrl': tournament.url}) }}{% else %}{{ path('control_payment_edit', {'tournamentUrl': tournament.url, 'boughtProductId':boughtProduct.id}) }}{% endif %}" method="post" {{ form_enctype(form) }}>
	{{ form_errors(form) }}
	{{ form_rest(form) }}
	{% if not new %}<p>{{ 'editPayment.execPerson'|trans }}: {{ boughtProduct.cartOrder.execPerson.name }} ({{ boughtProduct.cartOrder.execPerson.email }})</p>{% endif %}
	<div class="form-actions">
		{% if not new %}<a href="{{ path('control_payment_delete', {'tournamentUrl':tournament.url, 'boughtProductId': boughtProduct.id}) }}" onClick="return confirm('{{ 'editPayment.delete.confirm'|trans }}');" class="btn btn-danger pull-left"><i class="fa fa-trash-o"></i> {{ 'editPayment.delete.btn'|trans }}</a>{% endif %}
		<a href="{{ path('control_payment_overview', {'tournamentUrl':tournament.url}) }}" class="btn btn-default">Cancel</a>
		<button type="submit" class="btn btn-primary">{{ 'modal.save'|trans }}</button>
	</div>
</form>
</div>
{% endblock %}
